# Project exclude paths
/stepik/target/
/dmdev/target/
/javarush/target/
/Parse/target/
/out/
/MyPractice/target/
/leetcode/target/
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java
/mvnw
/mvnw.cmd
/YandexCup/target/
