# Project exclude paths
/stepik/target/
/MyPractice/target/classes/a/AbstractLimits$Animal.class
/MyPractice/target/classes/a/AbstractLimits$Cat.class
/MyPractice/target/classes/a/AbstractLimits.class
/MyPractice/target/classes/a/interf/Animal.class
/MyPractice/target/classes/a/classes/Anon.class
/MyPractice/target/classes/a/ArraySize.class
/out/production/CodeWars/codewars/build/a/pile/of/cubes/v0/ASum.class
/out/production/CodeWars/codewars/build/a/pile/of/cubes/v1/ASum.class
/out/production/CodeWars/codewars/build/a/pile/of/cubes/v2/ASum.class
/out/production/CodeWars/codewars/build/a/pile/of/cubes/v3/ASum.class
/MyPractice/target/classes/a/patterns/decorator/AuditMailServiceImpl.class
/out/production/CodeWars/codewars/best/travel/BestTravel.class
/out/production/CodeWars/codewars/ones/and/zeros/v0/BinaryArrayToNumber.class
/out/production/CodeWars/codewars/ones/and/zeros/v1/BinaryArrayToNumber.class
/MyPractice/target/classes/a/algo/BinarySearch.class
/MyPractice/target/classes/a/streams/Book.class
/MyPractice/target/classes/a/algo/sort/Bubble.class
/MyPractice/target/classes/a/proxy/ByteBuddyProxy$MyInterceptor.class
/MyPractice/target/classes/a/proxy/ByteBuddyProxy$User.class
/MyPractice/target/classes/a/proxy/ByteBuddyProxy.class
/MyPractice/target/test-classes/a/proxy/ByteBuddyProxyTest.class
/out/production/CodeWars/codewars/camelcase/method/CamelCaseMethod.class
/dmdev/target/classes/lesson28/task/Car.class
/out/production/CodeWars/codewars/catching/car/mileage/numbers/v0/CarMileage.class
/dmdev/target/classes/lesson28/task/CarRunner.class
/MyPractice/target/classes/a/clone/Cat.class
/MyPractice/target/classes/a/interf/Cat.class
/MyPractice/target/classes/a/proxy/CglibProxy$User.class
/MyPractice/target/classes/a/proxy/CglibProxy.class
/MyPractice/target/classes/a/tasks/CheckComposite.class
/MyPractice/target/classes/a/clone/CloneExample.class
/MyPractice/target/classes/a/collections/CollectionsExample$A.class
/MyPractice/target/classes/a/collections/CollectionsExample$B.class
/MyPractice/target/classes/a/collections/CollectionsExample$C.class
/MyPractice/target/classes/a/collections/CollectionsExample$Test.class
/MyPractice/target/classes/a/collections/CollectionsExample.class
/MyPractice/target/classes/a/streams/CollectorExample$Article.class
/MyPractice/target/classes/a/streams/CollectorExample$MutableInteger.class
/MyPractice/target/classes/a/streams/CollectorExample.class
/dmdev/target/classes/lesson28/task/Column.class
/out/production/CodeWars/codewars/complementary/dna/ComplementaryDNA$DnaStrand.class
/out/production/CodeWars/codewars/complementary/dna/ComplementaryDNA.class
/out/production/CodeWars/codewars/roman/numerals/encoder/v0/Conversion.class
/out/production/CodeWars/codewars/roman/numerals/encoder/v1/Conversion.class
/out/production/CodeWars/codewars/roman/numerals/encoder/v2/Conversion.class
/out/production/CodeWars/codewars/roman/numerals/encoder/v3/Conversion.class
/out/production/CodeWars/codewars/roman/numerals/encoder/v4/Conversion.class
/MyPractice/target/classes/a/threads/Counter.class
/dmdev/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/javarush/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/MyPractice/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/MyPractice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/Parse/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/MyPractice/target/classes/a/patterns/observer/our/CurrentConditionsDisplay.class
/MyPractice/target/classes/a/patterns/observer/standard/CurrentConditionsDisplay.class
/dmdev/target/classes/http/socket/udp/DatagramRunner.class
/dmdev/target/classes/http/socket/udp/DatagramServerRunner.class
/javarush/target/classes/javarush/DebugTask0520.class
/javarush/target/classes/javarush/DebugTask0521.class
/MyPractice/target/classes/a/patterns/decorator/Decorator.class
/MyPractice/target/classes/a/interf/DefaultExample$Twice.class
/MyPractice/target/classes/a/interf/DefaultExample.class
/out/production/CodeWars/codewars/playing/with/digits/v0/DigPow.class
/out/production/CodeWars/codewars/playing/with/digits/v1/DigPow.class
/out/production/CodeWars/codewars/playing/with/digits/v2/DigPow.class
/out/production/CodeWars/codewars/snakes/ladders/Dinglemouse.class
/out/production/CodeWars/codewars/directions/reduction/v0/DirReduction.class
/out/production/CodeWars/codewars/directions/reduction/v1/DirReduction.class
/out/production/CodeWars/codewars/directions/reduction/v2/DirReduction.class
/MyPractice/target/classes/a/patterns/observer/our/DisplayElement.class
/MyPractice/target/classes/a/patterns/observer/standard/DisplayElement.class
/dmdev/target/dmdev-1.0-SNAPSHOT.jar
/MyPractice/target/classes/a/interf/Dog.class
/MyPractice/target/classes/a/patterns/strategy/model/Duck.class
/MyPractice/target/classes/a/EnumEquals$1.class
/MyPractice/target/classes/a/EnumEquals$Nums.class
/MyPractice/target/classes/a/EnumEquals.class
/MyPractice/target/classes/a/ExceptionExample$MyException.class
/MyPractice/target/classes/a/ExceptionExample.class
/MyPractice/target/classes/a/patterns/interpretor/Expression.class
/Parse/target/classes/text/FindAndReplace.class
/out/production/CodeWars/codewars/find/the/parity/outlier/FindOutlier.class
/out/production/CodeWars/codewars/find/the/parity/outlier/FindTheParityOutlier.class
/MyPractice/target/classes/a/streams/task/FlatMapTask01.class
/MyPractice/target/classes/a/patterns/strategy/action/fly/FlyBehavior.class
/MyPractice/target/classes/a/patterns/strategy/action/fly/FlyNoWay.class
/MyPractice/target/classes/a/patterns/strategy/action/fly/FlyRocketPowered.class
/MyPractice/target/classes/a/patterns/strategy/action/fly/FlyWithWings.class
/MyPractice/target/classes/a/bits/GetDuplicate.class
/MyPractice/target/classes/a/streams/GroupingByExample.class
/MyPractice/target/classes/a/database/inmemoty/H2Database.class
/dmdev/target/classes/http/client/HttpClientExample.class
/dmdev/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/dmdev/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/javarush/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/javarush/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/MyPractice/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/MyPractice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/Parse/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Parse/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/MyPractice/target/classes/a/interf/Insect.class
/out/production/CodeWars/codewars/integers/recreation/two/IntegersRecreationTwo.class
/MyPractice/target/classes/a/interf/InterfaceExample.class
/MyPractice/target/classes/a/io/IoNioExample.class
/out/production/CodeWars/codewars/isograms/Isograms.class
/javarush/target/javarush-1.0-SNAPSHOT.jar
/MyPractice/target/classes/a/proxy/JavassistProxy$1.class
/MyPractice/target/classes/a/proxy/JavassistProxy$User.class
/MyPractice/target/classes/a/proxy/JavassistProxy.class
/MyPractice/target/classes/a/oop/JavaStudent.class
/MyPractice/target/classes/a/proxy/JdkProxy$1.class
/MyPractice/target/classes/a/proxy/JdkProxy$IUser.class
/MyPractice/target/classes/a/proxy/JdkProxy$User.class
/MyPractice/target/classes/a/proxy/JdkProxy.class
/out/production/CodeWars/codewars/josephus/permutation/v0/Josephus.class
/out/production/CodeWars/codewars/josephus/permutation/v1/Josephus.class
/out/production/CodeWars/codewars/build/tower/v0/Kata.class
/out/production/CodeWars/codewars/build/tower/v1/Kata.class
/out/production/CodeWars/codewars/build/tower/v2/Kata.class
/out/production/CodeWars/codewars/create/phone/number/v0/Kata.class
/out/production/CodeWars/codewars/create/phone/number/v1/Kata.class
/out/production/CodeWars/codewars/create/phone/number/v2/Kata.class
/out/production/CodeWars/codewars/create/phone/number/v3/Kata.class
/out/production/CodeWars/codewars/create/phone/number/v4/Kata.class
/out/production/CodeWars/codewars/find/the/missing/letter/v0/Kata.class
/out/production/CodeWars/codewars/find/the/missing/letter/v1/Kata.class
/out/production/CodeWars/codewars/find/the/missing/letter/v2/Kata.class
/out/production/CodeWars/codewars/find/the/missing/letter/v3/Kata.class
/out/production/CodeWars/codewars/sort/the/odd/v0/Kata.class
/out/production/CodeWars/codewars/sort/the/odd/v1/Kata.class
/out/production/CodeWars/codewars/sort/the/odd/v2/Kata.class
/out/production/CodeWars/codewars/sort/the/odd/v3/Kata.class
/out/production/CodeWars/codewars/sort/the/odd/v4/Kata.class
/MyPractice/target/classes/a/oop/LazyStudent.class
/MyPractice/target/classes/a/LoadingAndInitialization$One.class
/MyPractice/target/classes/a/LoadingAndInitialization$Two.class
/MyPractice/target/classes/a/LoadingAndInitialization.class
/MyPractice/target/classes/a/patterns/decorator/Mail.class
/MyPractice/target/classes/a/patterns/decorator/MailService.class
/MyPractice/target/classes/a/patterns/decorator/MailServiceImpl.class
/out/production/CodeWars/codewars/Main.class
/MyPractice/target/classes/a/patterns/strategy/model/MallardDuck.class
/Parse/target/classes/META-INF/MANIFEST.MF
/MyPractice/target/classes/a/collections/map/MapEx.class
/out/production/CodeWars/codewars/credit/card/mask/v0/Maskify.class
/out/production/CodeWars/codewars/credit/card/mask/v1/Maskify.class
/out/production/CodeWars/codewars/credit/card/mask/v2/Maskify.class
/out/production/CodeWars/codewars/credit/card/mask/v3/Maskify.class
/out/production/CodeWars/codewars/credit/card/mask/v4/Maskify.class
/MyPractice/target/classes/a/threads/MeasureTime.class
/MyPractice/target/classes/a/algo/sort/Merge.class
/MyPractice/target/classes/a/patterns/strategy/MiniDuckSimulator.class
/MyPractice/target/classes/a/patterns/strategy/model/ModelDuck.class
/MyPractice/target/classes/a/interf/Mouse.class
/MyPractice/target/classes/a/interf/Multy.class
/MyPractice/target/classes/a/patterns/strategy/action/quack/MuteQuack.class
/MyPractice/target/MyPractice-1.0-SNAPSHOT.jar
/MyPractice/target/classes/a/threads/MyRun.class
/MyPractice/target/classes/a/ObjectSize.class
/MyPractice/target/classes/a/patterns/observer/our/Observer.class
/MyPractice/target/classes/a/algo/bigo/On_fact.class
/MyPractice/target/classes/a/interf/One.class
/MyPractice/target/classes/a/algo/bigo/Onm.class
/MyPractice/target/classes/a/optional/OptionalExample.class
/out/production/CodeWars/codewars/pagination/helper/v0/PaginationHelper.class
/MyPractice/target/classes/a/streams/ParallelStreamExample.class
/Parse/target/Parse-1.0-SNAPSHOT.jar
/out/production/CodeWars/codewars/parseInt/reloaded/v3/Parser$1.class
/out/production/CodeWars/codewars/parseInt/reloaded/v0/Parser$Word.class
/out/production/CodeWars/codewars/parseInt/reloaded/v0/Parser.class
/out/production/CodeWars/codewars/parseInt/reloaded/v1/Parser.class
/out/production/CodeWars/codewars/parseInt/reloaded/v2/Parser.class
/out/production/CodeWars/codewars/parseInt/reloaded/v3/Parser.class
/out/production/CodeWars/codewars/parseInt/reloaded/v4/Parser.class
/out/production/CodeWars/codewars/parseInt/reloaded/v5/Parser.class
/out/production/CodeWars/codewars/parseInt/reloaded/v6/Parser.class
/Parse/target/classes/parse/habr/post710330/ParseSite$RefreshService$OnComplete.class
/Parse/target/classes/parse/habr/post710330/ParseSite$RefreshService.class
/Parse/target/classes/parse/habr/post710330/ParseSite$SchoolItem.class
/Parse/target/classes/parse/habr/post710330/ParseSite.class
/out/production/CodeWars/codewars/persistent/bugger/v0/Persist.class
/out/production/CodeWars/codewars/persistent/bugger/v1/Persist.class
/out/production/CodeWars/codewars/persistent/bugger/v2/Persist.class
/out/production/CodeWars/codewars/persistent/bugger/v3/Persist.class
/MyPractice/target/classes/a/streams/task/Phone.class
/out/production/CodeWars/codewars/pick/peaks/v1/PickPeaks$1.class
/out/production/CodeWars/codewars/pick/peaks/v0/PickPeaks.class
/out/production/CodeWars/codewars/pick/peaks/v1/PickPeaks.class
/out/production/CodeWars/codewars/pick/peaks/v2/PickPeaks.class
/out/production/CodeWars/codewars/pick/peaks/v3/PickPeaks.class
/out/production/CodeWars/codewars/pick/peaks/v4/PickPeaks.class
/MyPractice/target/classes/a/Polymorph.class
/dmdev/target/maven-archiver/pom.properties
/javarush/target/maven-archiver/pom.properties
/MyPractice/target/maven-archiver/pom.properties
/Parse/target/maven-archiver/pom.properties
/MyPractice/target/classes/a/PrimitivePool.class
/leetcode/target/classes/Problem3$Solution.class
/leetcode/target/classes/Problem3.class
/leetcode/target/classes/Problem4.class
/leetcode/target/classes/Problem5.class
/leetcode/target/classes/Problem6.class
/leetcode/target/classes/Problem7.class
/leetcode/target/classes/Problem8.class
/leetcode/target/classes/Problem9.class
/leetcode/target/classes/Problem10$Result.class
/leetcode/target/classes/Problem10.class
/leetcode/target/classes/Problem11.class
/leetcode/target/classes/Problem12.class
/MyPractice/target/classes/a/threads/ProducerConsumer.class
/MyPractice/target/classes/a/near/Proximal.class
/MyPractice/target/classes/a/patterns/strategy/action/quack/Quack.class
/MyPractice/target/classes/a/patterns/strategy/action/quack/QuackBehavior.class
/MyPractice/target/classes/a/algo/sort/Quick.class
/MyPractice/target/classes/a/threads/RaceCondition2Example.class
/MyPractice/target/classes/a/threads/RaceConditionExample.class
/MyPractice/target/classes/a/threads/ReentrantExample.class
/out/production/CodeWars/codewars/is/my/friend/cheating/v0/RemovedNumbers.class
/out/production/CodeWars/codewars/is/my/friend/cheating/v1/RemovedNumbers.class
/out/production/CodeWars/codewars/is/my/friend/cheating/v2/RemovedNumbers.class
/out/production/CodeWars/codewars/is/my/friend/cheating/v3/RemovedNumbers.class
/out/production/CodeWars/codewars/is/my/friend/cheating/v4/RemovedNumbers.class
/out/production/CodeWars/codewars/is/my/friend/cheating/v5/RemovedNumbers.class
/MyPractice/target/classes/a/rmi/client/RmiClient.class
/MyPractice/target/classes/a/rmi/server/RmiServer.class
/MyPractice/target/classes/a/rmi/server/RmiServerIntf.class
/MyPractice/target/classes/a/interf/RunInterface.class
/javarush/target/classes/javarush/SecondMin.class
/javarush/target/classes/javarush/SecondMin2.class
/MyPractice/target/classes/a/algo/sort/Select.class
/out/production/CodeWars/codewars/count/the/smiley/faces/v0/SmileFaces.class
/out/production/CodeWars/codewars/count/the/smiley/faces/v1/SmileFaces.class
/out/production/CodeWars/codewars/count/the/smiley/faces/v2/SmileFaces.class
/out/production/CodeWars/codewars/count/the/smiley/faces/v3/SmileFaces.class
/out/production/CodeWars/codewars/snail/sort/v0/Snail.class
/out/production/CodeWars/codewars/snail/sort/v1/Snail.class
/out/production/CodeWars/codewars/snail/sort/v2/Snail.class
/out/production/CodeWars/codewars/snail/sort/v3/Snail.class
/out/production/CodeWars/codewars/snail/sort/v4/Snail.class
/out/production/CodeWars/codewars/snail/sort/v5/Snail.class
/out/production/CodeWars/codewars/snail/sort/v6/Snail.class
/out/production/CodeWars/codewars/snakes/ladders/SnakesLadders.class
/dmdev/target/classes/http/socket/tcp/SocketRunner.class
/dmdev/target/classes/http/socket/tcp/SocketServerRunner.class
/out/production/CodeWars/codewars/camelcase/method/Solution.class
/out/production/CodeWars/codewars/number/of/trailing/zeros/of/n/v0/Solution.class
/out/production/CodeWars/codewars/number/of/trailing/zeros/of/n/v1/Solution.class
/out/production/CodeWars/codewars/range/extraction/v0/Solution.class
/out/production/CodeWars/codewars/range/extraction/v1/Solution.class
/out/production/CodeWars/codewars/range/extraction/v2/Solution.class
/out/production/CodeWars/codewars/range/extraction/v3/Solution.class
/out/production/CodeWars/codewars/who/likes/it/v0/Solution.class
/out/production/CodeWars/codewars/who/likes/it/v1/Solution.class
/out/production/CodeWars/codewars/who/likes/it/v2/Solution.class
/out/production/CodeWars/codewars/the/spiraling/box/SpiralingBox.class
/MyPractice/target/classes/a/sql/SqlExample.class
/out/production/CodeWars/codewars/integers/recreation/two/SqProd2Sum.class
/out/production/CodeWars/codewars/integers/recreation/two/SqProd2Sum2.class
/MyPractice/target/classes/a/patterns/strategy/action/quack/Squeak.class
/MyPractice/target/classes/a/streams/StreamExample.class
/javarush/target/classes/javarush/StrictFP.class
/MyPractice/target/classes/a/oop/Student.class
/MyPractice/target/classes/a/patterns/observer/our/Subject.class
/out/production/CodeWars/codewars/sudoku/solution/validator/v0/SudokuValidator.class
/out/production/CodeWars/codewars/sudoku/solution/validator/v1/SudokuValidator.class
/out/production/CodeWars/codewars/sudoku/solution/validator/v2/SudokuValidator.class
/out/production/CodeWars/codewars/sudoku/solution/validator/v3/SudokuValidator.class
/out/production/CodeWars/codewars/sudoku/solution/validator/v4/SudokuValidator.class
/out/production/CodeWars/codewars/perimeter/of/squares/in/a/rectangle/v0/SumFct.class
/out/production/CodeWars/codewars/perimeter/of/squares/in/a/rectangle/v1/SumFct.class
/out/production/CodeWars/codewars/perimeter/of/squares/in/a/rectangle/v2/SumFct.class
/out/production/CodeWars/codewars/perimeter/of/squares/in/a/rectangle/v3/SumFct.class
/out/production/CodeWars/codewars/best/travel/SumOfK.class
/dmdev/target/classes/lesson28/task/Table.class
/out/production/CodeWars/codewars/take/a/ten/minutes/walk/v0/TenMinWalk.class
/out/production/CodeWars/codewars/take/a/ten/minutes/walk/v1/TenMinWalk.class
/out/production/CodeWars/codewars/take/a/ten/minutes/walk/v2/TenMinWalk.class
/out/production/CodeWars/codewars/take/a/ten/minutes/walk/v3/TenMinWalk.class
/MyPractice/target/classes/a/algo/sort/Test.class
/MyPractice/target/classes/a/streams/Test.class
/out/production/CodeWars/codewars/the/spiraling/box/TheSpiralingBox.class
/MyPractice/target/classes/a/threads/ThreadExample.class
/MyPractice/target/classes/a/interf/Three.class
/MyPractice/target/classes/a/patterns/interpretor/ToLowerExpression.class
/MyPractice/target/classes/a/interf/Two.class
/dmdev/target/classes/http/client/UrlExample.class
/MyPractice/target/classes/a/database/inmemoty/UtilDB.class
/MyPractice/target/classes/a/threads/VolatileExample$VolExm.class
/MyPractice/target/classes/a/threads/VolatileExample.class
/MyPractice/target/classes/a/collections/WeakHashMapExample.class
/MyPractice/target/classes/a/patterns/observer/our/WeatherData.class
/MyPractice/target/classes/a/patterns/observer/standard/WeatherData.class
/MyPractice/target/classes/a/patterns/observer/our/WeatherStation.class
/MyPractice/target/classes/a/patterns/observer/standard/WeatherStation.class
/MyPractice/target/classes/a/tasks/WithNull.class
/MyPractice/target/classes/a/patterns/interpretor/AndExpression.class
/MyPractice/target/classes/a/patterns/interpretor/InterpeterRunner.class
/MyPractice/target/classes/a/patterns/interpretor/OrExpression.class
/MyPractice/target/classes/a/patterns/interpretor/TerminalExpression.class
/MyPractice/target/classes/a/patterns/absfactory/factory/BakeryFactory.class
/MyPractice/target/classes/a/patterns/absfactory/product/Bread.class
/MyPractice/target/classes/a/patterns/absfactory/product/Cookie.class
/MyPractice/target/classes/a/patterns/absfactory/factory/DodoFactory$1.class
/MyPractice/target/classes/a/patterns/absfactory/factory/DodoFactory$2.class
/MyPractice/target/classes/a/patterns/absfactory/factory/DodoFactory.class
/MyPractice/target/classes/a/patterns/absfactory/factory/DokaFactory$1.class
/MyPractice/target/classes/a/patterns/absfactory/factory/DokaFactory$2.class
/MyPractice/target/classes/a/patterns/absfactory/factory/DokaFactory.class
/MyPractice/target/classes/a/patterns/absfactory/product/Product.class
/MyPractice/target/classes/a/patterns/absfactory/TestFactory.class
